.head{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: green;
    padding-left:3%;
    padding-right: 3%;
    align-items: center;
}

.nameInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3%;
    padding-left: 3%;
    flex-wrap: wrap;
    height: 10vh;
    width: 100vw;
    border-bottom: 1px solid gray;
}
.initials{
    width: 10%;
    height: 40%;
}
.name{
    /* width: 50%;
    height: 100%; */
    padding-right: 5%;
}
.email{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-right: 5%;
    padding-left: 3%;
    height: 10vh;
    align-items: center;
}
.phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-right: 5%;
    padding-left: 3%;
    height: 10vh;
}