.site-modal {
    position: fixed; /*Stay in place */
    z-index: 1000; /*Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px;
    border: 2px solid #888;
    width: 90%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    }

.site-modal .close {
    /* padding-right: -40%; */
    /* margin-right: -7%; */
    width: 10px;
    color: #aaa;
    float: left;
    font-size: 1.5rem;
    font-weight: bold;
    width: 23px;
    /* padding-right: -10%; */
    padding-left: -10px;
    }

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }